<!DOCTYPE html>
<html>
<head>
  <title>Resultado</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css">
</head>
<body>
  <div class="container">
    <h1>Resultado</h1>
    <p>Operação: <%= numA %> <%= operacao %> <%= numB %> = <%= resultado %></p>
    <a href="/" class="btn btn-primary">Novo cálculo</a>
  </div>
</body>
</html>
